In [1]:
import random as rand

In [12]:
h = dict([(1, 'Games'), (2, 'Swimming'), (3, 'Reading'), 
         (4, 'Music'), (5, 'Handicraft'), (6, 'Footaball'),
         (7, 'Basketball'), (8, 'Volleyball'), (9, 'Cycling'),
         (10, 'Fencing')])

In [13]:
h

{1: 'Games',
 2: 'Swimming',
 3: 'Reading',
 4: 'Music',
 5: 'Handicraft',
 6: 'Footaball',
 7: 'Basketball',
 8: 'Volleyball',
 9: 'Cycling',
 10: 'Fencing'}

In [4]:
s = dict([(1, 'Math'), (2, 'Physics'), (3, 'English'),
          (4, 'Databases'), (5, 'Python'), (6, 'Java'),
          (7, 'C#'), (8, 'Networks')])

In [5]:
s

{1: 'Math',
 2: 'Physics',
 3: 'English',
 4: 'Databases',
 5: 'Python',
 6: 'Java',
 7: 'C#',
 8: 'Networks'}

In [18]:
filename = "file.sql"
with open(filename, 'w') as fd:
    fd.write("CREATE TABLE Student(Id INTEGER, Subject TEXT, Hobby TEXT);\n")
    for i in range(20):
        fd.write("INSERT INTO Student(Id, Subject, Hobby) VALUES('{0}', '{1}', '{2}');\n".
                format(i+1, s.get(rand.randint(1, 8)), h.get(rand.randint(1, 10))))